*
{
	padding:0px;
	margin:0px;
}

body
{
	font-family:Arial;
	font-size:12px;
}

#container
{
	border:0px solid red;
	width:60%;
	margin:auto;
	margin-top:20px;
}

#banner, #footer
{
	background-color:red;
	border-radius: 10px;
	border:0px solid red;
	text-align:center;
}

#content
{
	border:0px solid blue;
	min-height:300px;
	position:relative;
	width:60%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

.viewall
{
	border:0px solid;
}

#link
{
	border:0px solid purple;
	position:absolute;
	right:780px;
	min-width:160px;
}

#link ul
{
	list-style-type:none;
}

#link li
{
	text-align:right;
}

#link a:link { text-decoration:none; color:red;}
#link a:visited { text-decoration: none; color: red;}
#link a:hover { background-color:black;}
#link a:active { text-decoration: none; color: red;}